:root {
  --accent-color: #5abfad;
  --secondary-color: #3c74a6;
  --bg-color: #010326;
  --white-text: #e3e3e3;
  --large-text: 1.953rem;
  --medium-text: 1.35rem;
  --small-text: 1rem;
  --b-radius: 0.3rem;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: var(--bg-color);
  color: var(--white-text);
}

li {
  list-style: none;
}

textarea {
  width: 100%;
  resize: none;
  outline: none;
  background-color: unset;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.textarea-container {
  max-width: 20rem;
}

.header {
  display: grid;
  align-items: center;
}

.nav {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.nav__links {
  padding-left: 1rem;
}

.nav__links li {
  display: inline-block;
}

.nav__link {
  display: block;
  text-decoration: none;
  color: var(--white-text);
  font-size: var(--small-text);
  padding: 0.5rem;
  border-radius: var(--b-radius);
  animation: bounce 4s infinite;
}

.main {
  display: grid;
  justify-content: center;
  margin: 0.5rem;
}

.form {
  display: grid;
  place-content: center;
  width: min(100%, 70rem);
  margin: 2rem auto;
  padding: 2rem;
  font-size: var(--medium-text);
  border-radius: var(--b-radius);
  background-color: rgba(25, 41, 89, 0.4);
  backdrop-filter: blur(1px);
  border: solid 1px rgba(25, 41, 89, 0.5);
}

.form__title {
  text-align: center;
  font-size: var(--large-text);
}

.form__container {
  display: grid;
  gap: 1rem;
}

.input__text {
  font-size: var(--small-text);
  color: var(--white-text);
  border: solid 2px rgba(25, 41, 89, 0.7);
  border-radius: var(--b-radius);
  padding: 0.5rem;
}

.form__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.form__btns {
  display: grid;
  row-gap: 0.7rem;
  width: 100%;
  max-width: 8rem;
}

.form__btn {
  width: 100%;
  max-width: 10rem;
  min-height: 2rem;
  border: none;
  border-radius: var(--b-radius);
  color: var(--white-text);
  font-size: var(--small-text);
  border-radius: 8px;
  transition: transform 200ms, box-shadow 200ms;
}

.form__btn--cipher {
  background-color: var(--accent-color);
  box-shadow: #428c7f 0 4px 0;
}

.form__btn--decipher {
  background-color: var(--secondary-color);
  box-shadow: #295073 0 4px 0;
}

.form__key {
  display: block;
  display: block;
  width: 100%;
  text-align: center;
  line-height: 1.8;
  font-size: var(--small-text);
}

.key__container {
  display: flex;
  justify-content: space-around;
  max-width: 5rem;
  margin: 0 auto;
  background-color: rgba(25, 41, 89, 0.7);
  border-radius: var(--b-radius);
}

.key__icon {
  transform: rotate(45deg);
  fill: var(--white-text);
}

.form__input--number {
  border: none;
  outline: none;
  opacity: 0.7;
  max-width: 3rem;
  background-color: unset;
  color: var(--white-text);
}

/* effects */
.nav__link:hover {
  color: var(--accent-color);
}

.input__text:hover {
  border: solid 2px rgba(90, 191, 173, 0.5);
}

.input__text:focus {
  border: solid 2px var(--accent-color);
}

.key__icon:hover {
  fill: var(--accent-color);
}

.form__btn:active {
  box-shadow: 0px 0px 0px;
  transform: translateY(4px) translateX(4px);
}

@keyframes bounce {
  0% {
    transform: translate(0px, 0px);
  }

  40% {
    transform: translate(0px, 3px);
  }

  60% {
    transform: translate(0px, 10px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

/* particles container */
#particles-js {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

/* Desktop */
@media screen and (min-width: 810px) {
  .form__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
