:root {
  --primary-color: ;
  --bg-color: ;

  --white-text: ;
  --large-text: ;
  --medium-text: ;
  --small-text: ;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
}

li {
  list-style: none;
}

textarea {
  width: 100%;
  resize: none;
  outline: none;
}

.textarea-container {
  max-width: 20rem;
}

.header {
  display: grid;
  align-items: center;
}

.nav {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.nav__link {
  text-decoration: none;
}

.main {
  display: grid;
  justify-content: center;
  margin: .5rem;
}

.form {
  display: grid;
  width: min(100%, 70rem);
  margin: 2rem auto;
  place-content: center;
  padding: 2rem;
}

.form__title {
  text-align: center;
}

.form__container {
  display: grid;
  gap: 1rem;
}

.form__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.form__btns {
  display: grid;
  row-gap: 0.7rem;
  width: 100%;
  max-width: 8rem;
}

.form__btn {
  width: 100%;
  max-width: 10rem;
  max-height: 2rem;
}

.form__key {
  display: block;
  display: block;
  width: 100%;
  text-align: center;
  line-height: 1.8;
}

.key__container {
  display: flex;
  justify-content: space-around;
  max-width: 5rem;
  margin: 0 auto;
}

.key__icon {
  transform: rotate(45deg);
}

.form__input--number {
  border: none;
  outline: none;
  opacity: 0.5;
  max-width: 3rem;
}

@media screen and (min-width: 780px) {
  .form__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
